body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);    
    color: rgb(27, 27, 27);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page-title {
    text-align: center;
}

.page-link,
.image-caption {
    font-size: 20px;
    color: rgb(27, 27, 27);
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
}

.recipes {
    padding: 10px;
    
}

.recipes h2 {
    text-wrap: nowrap;
}

.recipes .recipe-image {
    height: 300px;
    width: 300px;
}

/* Top bar */

.topbar-item {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
}

/* Recipe pages styles */

.recipe-name {
    text-align: center;
}

.description {
    margin-left: 50px;
}

.recipe-headings {
    margin-left: 30px;
}

.recipe-image-container {
    text-align: center;
}

.recipe-image {
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
}

.image-caption {
    padding: 5px;
    text-align: center;
}

.ingredients,
.directions {
    padding: 0;
}

.list-item {
    margin-left: 65px;
    padding-top: 10px;
}